<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<title>Test Meli Go SDK</title>
</head>
<body>
    <div class="container">

      <div class="page-header">
        <h1>Meli Go SDK examples</h1>
        <p class="lead">Basic usage of Meli SDK methods.</p>

        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <a href="/methods/get">GET</a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="/methods/post">POST</a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="/methods/put">PUT</a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="/methods/delete">DELETE</a>
          </div>
        </div>
      </div>

      {[{ yield }]}      

    </div> 
</body>
</html>